@import "../../styles/globals.scss";

.coverImage {
  width: 100%;
}

// Post rendering styles (like Tailwind `prose`)
.post {
  & h1 {
    font-size: $heading1-md;
    margin-top: 0px;
  }

  & h2 {
    font-size: $heading2-md;
  }

  & h3 {
    font-size: $heading3-md;
  }

  & h4 {
    font-size: $heading4-md;
  }

  & h5 {
    font-size: $heading5-md;
  }

  & p {
    font-size: $body1-md;
  }

  & small {
    font-size: $body2-md;
  }

  & li {
    margin: 10px 0px 10px 3px;
  }

  & a {
    color: $link;
    text-decoration: underline;
  }

  & .hljs {
    margin: 20px 0px 20px 0px;
  }

  & code {
    padding: 3px 5px 3px 5px;
    font-family: "Ubuntu Mono", monospace;
    background-color: $code-background;
    color: $code-foreground;
    border-radius: 5px;
    margin: 0px 5px 0px 5px;
  }

  & pre {
    border-radius: 10px;

    & code {
      border-radius: 10px;
    }
  }

  & iframe {
    width: 100%;
    min-height: 500px;
  }

  & img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  & hr {
    border: 1px solid #eee;
    margin: 30px 0px 30px 0px;
  }

  & blockquote {
    border-left: 3px solid $blockquote;
    padding: 10px 0px 10px 20px;
    margin: 0px;
  }

  @media screen and (prefers-color-scheme: dark) {
    & a {
      color: $link-dark;
    }
  }
}
