@import "../../styles/globals.scss";

.sectionSpacer {
  margin-top: 20px;
}

.sectionSpacerLg {
  margin-top: 40px;
}

.sectionTitleLg {
  margin-bottom: 40px !important;
}


.sectionContainer {
  padding: 20px;
}

.sectionTitle, .sectionSubtitle {
  margin: 0px !important;
  margin-bottom: 10px !important;
}

.title {
  font-size: 100px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  animation: 2s typing forwards ; 
}
@keyframes typing {
    0% {
      width: 0ch;
    }
    100%{
      width: 8ch;
    }
}
