@import "../../styles/globals.scss";

.sectionSpacer {
  margin-top: 20px;
}

.sectionSpacerLg {
  margin-top: 40px;
}

.sectionTitleLg {
  margin-bottom: 40px !important;
}


.sectionContainer {
  padding: 20px;
}

.sectionTitle, .sectionSubtitle {
  margin: 0px !important;
  margin-bottom: 10px !important;
}
