@import "./variables.scss";
@import "./gridlex.min.css";

:root {
  color-scheme: light;
}

// Normalize styles and apply fonts
body {
  margin: 0;
  padding: 0;
}

// Dark scrollbar
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
