@import "./variables.scss";

// Normalize styles and apply fonts
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  background-color: $background;
  color: $foreground;
  font-size: $body1;
}

a {
  color: $foreground;
  text-decoration: none;
}

// Container to avoid overflow in y-axis
.container {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}

// Dark mode
@media (prefers-color-scheme: dark) {
  body {
    background-color: $background-dark;
    color: $foreground-dark;
  }

  a {
    color: $foreground-dark;
  }
}
