.container {
  background-color: var(--background);
  height: 100%;
  color: var(--foreground);
}

.spacerLeft {
  height: 20px;
  width: 30%;
  background-color: var(--secondary);
  position: absolute;
  left: 0px;
}

.spacerRight {
  height: 20px;
  width: 30%;
  background-color: var(--primary);
  position: absolute;
  right: 0px;
}
