.navbarContainer {
  transition: 0.5s;
}

.navbar {
  display: flex;
  position: fixed;
  transition: all 0.5s;
  background-color: var(--primary);
  width: 100%;
  z-index: 100;
  padding: 20px;
  color: var(--white);
  opacity: 100%;
}

.navbarTitle {
  margin-right: 15px !important;
}

.navbarHide {
  transition: all 0.5s;
  /* display: none; */
  opacity: 0%;
  position: absolute;
}

.link {
  margin: 0px 10px 0px 10px;
  padding: 0px 5px 0px 5px;
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s;
}

.link:hover {
  background-color: var(--hover);
  color: var(--black);
  box-shadow: 3px 3px 0px var(--secondary);
}

.link:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.linkItem {
  font-size: 15px;
  padding: 4px;
}
