

.sectionSpacer {
  margin-top: 50px;
}

.sectionContainer {
  padding: 20px;
  /* width: calc(96vw - 8px); */
  border: 4px solid var(--secondary);
  z-index: 1000;
}

.sectionTitle {
  text-align: right;
  border-left: 3px solid var(--primary-light);
}