@import "./variables.scss";

h1 {
  font-size: $heading1;
  letter-spacing: -1.5px;
  font-weight: 300;
  line-height: 108px;
  margin: 0;
}

h2 {
  font-size: $heading2;
  letter-spacing: -0.5px;
  font-weight: 300;
  line-height: 72px;
  margin: 0;
}

h3 {
  font-size: $heading3;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

h4 {
  font-size: $heading4;
  letter-spacing: 0.25px;
  font-weight: 400;
  line-height: 48px;
  margin: 0;
}

h5 {
  font-size: $heading5;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}

h6 {
  font-size: $heading6;
  letter-spacing: 0.15px;
  font-weight: 500;
  line-height: 33px;
  margin: 0;
}

p {
  font-size: $body1;
  letter-spacing: 0.1px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

hr {
  border: 1px solid $hover;
  margin: 30px 0px 30px 0px;
}

blockquote {
  border-left: 3px solid $primary;
  padding: 10px 0px 10px 20px;
  margin: 0px;
  font-style: italic;
}

/* Post rendering styles (like Tailwind `prose`) */

.post h1 {
  margin: 30px 0px 30px 0px;
}

.post h2 {
  margin: 25px 0px 25px 0px;
}

.post h3 {
  margin: 20px 0px 20px 0px;
}

.post h4 {
  margin: 10px 0px 10px 0px;
}

.post h5 {
  margin: 8px 0px 8px 0px;
}

.post p {
  margin: 8px 0px 8px 0px;
}

.post li {
  margin: 10px 0px 10px 3px;
}

.post .hljs {
  margin: 20px 0px 20px 0px;
}

.post pre {
  border-radius: 0px !important;
}

.post code {
  padding: 3px 5px 3px 5px;
  margin: 0px 5px 0px 5px;
  font-family: 'Ubuntu Mono', monospace;
}